<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-responsive table-striped">
  <thead>
    <div class="form-group">
    <%= form_tag url_for(:controller => 'categories', :action => 'index'), :method => 'get' do %>
<div class="col-xs-8">
      <%= select_tag "id", options_from_collection_for_select(Category.all, "id", "name"), prompt: "All",class: " form-control" %>
</div> <div class="col-xs-4">
      <%= submit_tag "See Photos",class: "form-control",style: "color:#f00;text-align:center;font-size:1.3em"%>
    </br> </div>
    <% end %>
  </div>
  </thead>
</table>

  <% @images.each do |image| %>
  <div style="width:600px;margin:0 auto">
  <div >
    <%= image_tag image.picture.index.url %>
      </div>
      <div>
      </br>
        <%= image.name + "," %>
        <%= image.user.email+ "," %>
        <%= image.category.name+ "," %>
        <%= image_tag(image.user.avatar.thumb.url) %>
        <%= "Posted" %> <%= (Time.now - image.created_at).to_i/3600%> <%= "hours ago" %>

          <% if current_user == image.user %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_image_path(image), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      image_path(image),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
                      <% end %>
                      <% end %>
</div>
</div>
